
#result {
    background-image: url('1862824.png');
    width: 80%;
    position: relative;
    left: 150px;

}

h1 {
    text-align: center;
    height: 100px;
    padding: 25px;
    background-color: black;
    color: red;
    
}


.card {
    color: black;
    position: relative;
    left: 38%;
    margin: 100px;
    

 }
 
#main{
    background-color: black;
    max-height: 100%;
}